{
    "app": {
        "bundle": "553834731",
        "cat": [
            "IAB3",
            "business"
        ],
        "id": "a422f9bf94df0c59389d5beff67f8821",
        "name": "App_Name",
        "publisher": {
            "id": "04241e0b1cc98976858ce16377c7eef4",
            "name": "Publisher_Name"
        },
        "storeurl": "https://itunes.apple.com/us/app/candy-crush-saga/id553834731?mt=8",
        "ver": "1.0"
    },
    "at": 2,
    "bcat": [
        "IAB7-39",
        "IAB8-5",
        "IAB8-18",
        "IAB9-9",
        "IAB25",
        "IAB26",
        "IAB3-7"
    ],
    "device": {
        "carrier": "310-260",
        "connectiontype": 2,
        "devicetype": 4,
        "dnt": 0,
        "geo": {
            "country": "USA",
            "lat": 10.738701,
            "lon": -76.0037
        },
        "h": 1920,
        "hwv": "iPhone 6+",
        "ifa": "e785aa3f-0b58-4ff1-8758-74ae56a9b2d9",
        "ip": "8.25.196.26",
        "js": 1,
        "language": "en",
        "make": "Apple",
        "model": "iPhone",
        "os": "iOS",
        "osv": "8.1",
        "ua": "Mozilla/5.0 (iPhone; CPU iPhone OS 8_1 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Mobile / 12 B411 ",
        "w": 1080
    },
    "id": "8e41bc64-188d-43cf-b98f-${auction_id}",
    "imp": [{
        "banner": {
            "api": [
                3,
                5
            ],
            "battr": [
                3,
                8,
                9,
                10,
                14,
                6
            ],
            "btype": [
                4
            ],
            "h": 50,
            "pos": 1,
            "w": 320
        },
        "bidfloor": 0.12,
        "displaymanager": "mopub",
        "displaymanagerver": "3.10.0",
        "ext": {
            "brsrclk": 1,
            "dlp": 1
        },
        "id": "1",
        "instl": 0,
        "secure": 0,
        "tagid": "b12ae796186931bfe7aa39471487b980"
    }]
}