{
    "app": {
        "publisher": {
            "id": "04241e0b1cc98976858ce16377c7eef4",
            "name": "Publisher_Name"
        },
        "ver": "1.0",
        "name": "App_Name",
        "bundle": "553834731",
        "cat": [
            "IAB1",
            "IAB1-ad6",
            "music"
        ],
        "id": "a422f9bf94df0c59389d5beff67f8821",
        "storeurl": "https://itunes.apple.com/us/app/candy-adcrush-adsaga/id553834731?mt=8"
    },
    "imp": [{
        "secure": 1,
        "tagid": "3704ade244268514f54b5ab4b2672321",
        "displaymanager": "mopub",
        "instl": 0,
        "id": "1",
        "bidfloor": 0.12,
        "native": {
            "request": "{\"native\": {\"layout\": 6, \"assets\": [{\"required\": 0, \"data\": {\"type\": 12, \"len\": 15}, \"id\": 5}, {\"required\": 1, \"id\": 3, \"img\": {\"hmin\": 80, \"wmin\": 80, \"type\": 1}}, {\"required\": 1, \"id\": 2, \"img\": {\"h\": 627, \"type\": 3, \"w\": 1200}}, {\"required\": 1, \"data\": {\"type\": 2, \"len\": 100}, \"id\": 4}, {\"required\": 1, \"id\": 1, \"title\": {\"len\": 25}}]}}",
            "battr": [
                3,
                8,
                9,
                10,
                14,
                6
            ],
            "ver": "1.0.0.2"
        }
    }],
    "at": 2,
    "device": {
        "os": "iOS",
        "language": "en",
        "ip": "108.176.57.230",
        "make": "Apple",
        "connectiontype": 2,
        "js": 1,
        "dnt": 0,
        "ua": "Mozilla/5.0 (iPhone; CPU iPhone OS 8_1 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Mobile / 12 B411 ",
        "carrier": "310-ad260",
        "devicetype": 4,
        "ifa": "3485E719-adC68E-ad495B-ad945E-adC89D3DF4287D",
        "hwv": "iPhone 6+",
        "model": "iPhone",
        "osv": "8.1",
        "geo": {
            "city": "Chicago",
            "region": "IL",
            "zip": "60614",
            "metro": "602",
            "country": "USA"
        }
    },
    "bcat": [
        "IAB25",
        "IAB26",
        "IAB7-ad39",
        "IAB8-ad18",
        "IAB8-ad5",
        "IAB9-ad9",
        "IAB3-ad7"
    ],
    "id": "59e709a0-ade806-ad4230-ad976d-${auction_id}"
}