{
    "app": {
        "cat": ["IAB14"],
        "id": "1001000",
        "name": "Facebook Event",
        "publisher": {
            "id": "900000001",
            "name": "Facebook Event"
        }
    },
    "at": 2,
    "bcat": ["IAB7-28", "IAB17-18", "IAB26", "IAB25", "IAB24", "IAB9-9", "IAB7-42", "IAB23"],
    "device": {
        "carrier": "310-004",
        "connectiontype": 0,
        "devicetype": 1,
        "dnt": 0,
        "ifa": "F585B1EF-D543-4F9C-A39F-A204BD9C1E33",
        "didsha1": "03791cf87e352da6434e4d964f54f0f64db933aa",
        "didmd5": "68b329da9893e34099c7d8ad5cb9c940",
        "dpisha1": "bfc523f83fa54a19e7b2d8bdf8acd687a09fba09",
        "dpimd5": "223632c428784fecaaa3e2a6aaaf6d8e",
        "geo": {
            "country": "USA",
            "type": 3
        },
        "ip": "46.211.129.201",
        "js": 0,
        "make": "Apple",
        "model": "iPhone",
        "os": "iOS",
        "osv": "5.0",
        "ua": "Mozilla/5.0 (iPhone; U; CPU iPhone OS 5_1_1 like Mac OS X; da-dk) AppleWebKit/534.46.0 (KHTML, like Gecko) CriOS/19.0.1084.60Mobile/9B206 Safari/7534.48.3"
    },
    "ext": {
        "carriername": "unknown - probably WLAN",
        "coppa": 0,
        "operaminibrowser": 0,
        "udi": {
            "atuid": "edc22bd4-aa58-f32a-63b7-8c7fcadfb1b7",
            "idfa": "F585B1EF-D543-4F9C-A39F-A204BD9C1E33",
            "idfatracking": 1
        }
    },
    "id": "9xMu${auction_id}",
    "imp": [{
        "displaymanager": "SOMA",
        "id": "1",
        "instl": 0,
        "video": {
            "linearity": 1,
            "maxduration": 18000,
            "mimes": ["mp4", "video/3gpp"],
            "minduration": 0,
            "ext": {
                "outstream": 1
            },
            "protocol": 2,
            "api": [ 1,2 ]
        }
    }],
    "user": {}
}

