{
    "app": {
        "bundle": "553834731",
        "cat": [
            "IAB3",
            "business"
        ],
        "id": "a422f9bf94df0c59389d5beff67f8821",
        "name": "App_Name",
        "publisher": {
            "id": "04241e0b1cc98976858ce16377c7eef4",
            "name": "Publisher_Name"
        },
        "storeurl": "https://itunes.apple.com/us/app/candy-crush-saga/id553834731?mt=8",
        "ver": "1.0"
    },
    "at": 2,
    "bcat": [
        "IAB25",
        "IAB26"
    ],
    "device": {
        "carrier": "310-260",
        "connectiontype": 2,
        "devicetype": 4,
        "dnt": 0,
        "geo": {
            "country": "USA"
        },
        "hwv": "iPhone 6+",
        "ifa": "3485E719-C68E-495B-945E-C8DF42879D3D",
        "ip": "8.25.196.26",
        "js": 1,
        "language": "en",
        "make": "Apple",
        "model": "iPhone",
        "os": "iOS",
        "osv": "8.1",
        "ua": "Mozilla/5.0 (iPhone; CPU iPhone OS 8_1 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Mobile / 12 B411 "
    },
    "id": "2af6ea7e-f807-49eb-95ca-${auction_id}",
    "imp": [{
        "banner": {
            "api": [
                3,
                5
            ],
            "battr": [
                3,
                8,
                9,
                10,
                14,
                6
            ],
            "btype": [
                4
            ],
            "h": 50,
            "pos": 1,
            "w": 320
        },
        "bidfloor": 5.0,
        "displaymanager": "mopub",
        "displaymanagerver": "3.4.0",
        "id": "1",
        "instl": 0,
        "pmp": {
            "deals": [{
                "at": 2,
                "bidfloor": 0.20,
                "id": "09e57922e9684f508b30cb897ff6e3ab"
            }],
            "private_auction": 1
        },
        "secure": 0,
        "tagid": "b12aefe7aa39471796186931b487b980"
    }]
}