{
    "id": "4D11B192-1330-440D-BF8F-${auction_id}",
    "imp": [
        {
            "id": "1",
            "tagid": "36839",
            "banner": {
                "w": 320,
                "h": 50,
                "topframe": 1,
                "battr": [
                    8,
                    5
                ]
            }
        }
    ],
    "app": {
        "id": "570756103",
        "name": "Pinger EX: Text Free + Free Calls",
        "ver": "1.4.3",
        "bundle": "com.pinger.pingerphone2plus",
        "domain": "http://www.pinger.com",
        "paid": 0,
        "storeurl": "https://itunes.apple.com/us/app/pinger-ex-text-free-+-1-hour/id570756103?mt=8",
        "publisher": {
            "id": "31911"
        }
    },
    "device": {
        "Osv": "6",
        "model": "iPhone",
        "devicetype": 1,
        "carrier": "Insight Communications Company",
        "ua": "Mozilla/5.0 (iPhone; CPU iPhone OS 6_1_3 like Mac OS X) AppleWebKit/536.26 (KHTML, like Gecko) Mobile/10B329",
        "os": "iOS",
        "language": "en-us",
        "make": "Apple",
        "geo": {
            "country": "US",
            "region": "KY",
            "city": "Lexington",
            "lat": 37.988701,
            "lon": -84.477699,
            "type": 2
        },
        "ext": {
            "idfa": "ECD5D4D4-76E7-4E30-88FA-D7486B176429",
            "hash": 1
        },
        "js": 1,
        "ip": "74.131.251.211"
    },
    "user": {
        "yob": 1984,
        "gender": "F"
    },
    "badv": [
        "we.com.au",
        "webfetti.com"
    ],
    "ext": {
        "pmp": {
            "private_auction": 0,
            "deals": [
                {
                    "id": "915884",
                    "bidfloor": 3,
                    "wseat": [
                        "1"
                    ],
                    "at": 2
                }
            ]
        }
    }
}