{
    "id": "560f885e-fb57-4274-9db6-${auction_id}",
    "at": 2,
    "bcat": [
        "IAB14-1",
        "IAB26",
        "IAB25",
        "IAB8-5",
        "IAB24",
        "IAB9-9",
        "IAB8-18"
    ],
    "badv": [
        "skout.com",
        "anastasiadate.com",
        "zoosk.com",
        "plannedparenthood.org"
    ],
    "imp": [
        {
            "id": "560f885e-fb57-4274-9db6-${auction_id}-1",
            "banner": {
                "h": 50,
                "w": 320,
                "btype": [
                    1
                ],
                "pos": 0
            },
            "displaymanager": "Nexage-SDK-Android",
            "displaymanagerver": "5.3.1",
            "ext": {
                "nex_screen": 0,
                "nex_sd": 5
            }
        }
    ],
    "app": {
        "id": "31032",
        "name": "Surpax Technology- Super Bright LED Flashlight-Android",
        "publisher": {
            "id": "8191",
            "name": "iHandySoft"
        },
        "domain": "www.ihandysoft.com",
        "cat": [
            "IAB9"
        ],
        "ext": {
            "nex_coppa": 0,
            "nex_sdkv": "5.3.1"
        },
        "bundle": "com.surpax.ledflashlight.panel",
        "storeurl": "https://play.google.com/store/apps/details?id=com.surpax.ledflashlight.panel"
    },
    "device": {
        "didsha1": "7e6ff890e6f2c46c2b928b6697d762da798169a6",
        "dpidsha1": "3F1636AB6C85820B54F947C816A4E6D03DFC65FB",
        "didmd5": "bb2753bf0145953e654fdbf4c4211f3d",
        "dpidmd5": "E25168BC9DE29BC2942DA5C5D98E8D65",
        "ip": "208.54.38.183",
        "carrier": "WIFI",
        "ua": "Mozilla/5.0 (Linux; U; Android 4.3; en-us; Nexus 4 Build/JWR66Y) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Mobile Safari/534.30",
        "make": "LG",
        "model": "E960/Nexus 4",
        "osv": "4.3",
        "js": 1,
        "os": "Android",
        "language": "en",
        "connectiontype": 2,
        "devicetype": 1,
        "geo": {
            "country": "USA",
            "type": 2
        },
        "ext": {
            "nex_macsha1": "6DFC3ED1B60045D4A0C9D825ED5986DC8F382E47",
            "nex_macmd5": "8E941AB97DAEA8421264CE71FE049D5C",
            "nex_tablet": "0"
        }
    }
}